pipeline/Parent Pipeline.json
{
	"name": "Parent Pipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteOnprem",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OnPrem_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"file": {
							"value": "@pipeline().parameters.file",
							"type": "Expression"
						},
						"p_mapping_flight": {
							"value": "@pipeline().parameters.p_mapping_flight",
							"type": "Expression"
						},
						"p_mapping_passanger": {
							"value": "@pipeline().parameters.p_mapping_passanger",
							"type": "Expression"
						},
						"p_mapping_airlines": {
							"value": "@pipeline().parameters.p_mapping_airlines",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute API Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteOnprem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Incremental Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute API Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL to DATALAKE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Failure Alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Incremental Ingestion",
						"dependencyConditions": [
							"Skipped",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://adflogicapppk-hmcue7e2esc5a6aq.eastus2-01.azurewebsites.net:443/api/alerts/triggers/When_an_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=MXr8j83s_2kmUOm1CpCf6yyMlNnsYEVss577QDtk1qI",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"run_id\" : \"@{pipeline().RunId}\",\n    \"status\" : \"@{activity('Execute Incremental Ingestion').Status}\",\n    \"Error\" : \"@{activity('Execute Incremental Ingestion').Error.Message}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"file": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimPassenger.csv"
					},
					{
						"file_name": "DimAirline.csv"
					},
					{
						"file_name": "DimFlight.csv"
					}
				]
			},
			"p_mapping_flight": {
				"type": "object",
				"defaultValue": "{                         \"type\": \"TabularTranslator\",                         \"mappings\": [                             {                                 \"source\": {                                     \"name\": \"flight_id\",                                     \"type\": \"String\",                                     \"physicalType\": \"String\"                                 },                                 \"sink\": {                                     \"name\": \"flight_id\",                                     \"type\": \"String\",                                     \"physicalType\": \"String\"                                 }                             },                             {                                 \"source\": {                                     \"name\": \"flight_number\",                                     \"type\": \"String\",                                     \"physicalType\": \"String\"                                 },                                 \"sink\": {                                     \"name\": \"flight_number\",                                     \"type\": \"String\",                                     \"physicalType\": \"String\"                                 }                             },                             {                                 \"source\": {                                     \"name\": \"departure_time\",                                     \"type\": \"String\",                                     \"physicalType\": \"String\"                                 },                                 \"sink\": {                                     \"name\": \"departure_time\",                                     \"type\": \"String\",                                     \"physicalType\": \"String\"                                 }                             },                             {                                 \"source\": {                                     \"name\": \"arrival_time\",                                     \"type\": \"String\",                                     \"physicalType\": \"String\"                                 },                                 \"sink\": {                                     \"name\": \"arrival_time\",                                     \"type\": \"String\",                                     \"physicalType\": \"String\"                                 }                             }"
			},
			"p_mapping_passanger": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_airlines": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-09-24T23:28:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}